<!--<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title title-center header-item">Accueil</h1>  
</ion-header-bar>-->
<div class="accueil" >
	<h2 class="title">Apprendre en s'amusant</h2>
	<div class="buttons">
		<div class="button_menu">
			<a ui-sref="animaux({ page: 1 })" class="">
				<img src="img/ane.png" alt="animaux" class="">
				<p>Animaux</p>
			</a>
		</div>
		<div class="button_menu">
			<a ui-sref="chiffres" class="">
				<img src="img/chiffres.png" alt="chiffres" class="">
				<p>Chiffres</p>
			</a>
		</div>
		<div class="button_menu">
			<a ui-sref="lettres" class="">
				<img src="img/lettres.png" alt="lettres" class="">
				<p>Lettres</p>
			</a>
		</div>
	</div>

</div>