      <div class="popup" ng-show="animauxCtrl.popup_active==true"><img src="../img/smiley.jpg" /></div>
<ion-header-bar align-title="center" class="">
   <button class="button button-icon icon ion-arrow-left-c flat" ng-click="animauxCtrl.back()"></button>
   <h1 class="title title-center header-item">Animaux ({{animauxCtrl.page}}/14)</h1>

</ion-header-bar>
<div class="content has-header animaux" ng-init="animauxCtrl.getAnimaux()">

   <div drag-and-drop class="drag-container" on-drag-enter="animauxCtrl.dragEnter(draggable, droppable)" on-item-placed="animauxCtrl.dragEnd(draggable, droppable)" on-drag-leave="animauxCtrl.dragLeave(draggable, droppable)">

      <div class="animal_container">
         <div drag-item drag-enabled="true" class="drag-item {{animal.nom}}" drag-id="{{'animal'+animal.id}}" ng-repeat="animal in animauxCtrl.animalData|limitTo:2">
            <div id="animal{{animal.id}}" class="animal-drag "><img ng-src="img/{{animal.nom}}.png" alt="{{animal.nom}}">
            </div>
         </div>
         <div class="drop_container" ng-repeat="sound in animauxCtrl.soundData|limitTo:2">
            <drop-spot max-items="1" class="drop-spot" drop-id="{{'animal'+sound.id}}" >
               <div id="son{{sound.id}}">
                  <audio id="{{'audio'+sound.id}}" ng-src="{{'sons/'+sound.cri | trustAsResourceUrl}}" autostart="false" class="{{sound.nom}}">

                  </audio>
                  <a data-ng-click="animauxCtrl.animauxPlay($event)"><i class="ion-volume-medium"></i><!--<i class="ion-checkmark-round"></i>--></a>
               </div>
            </drop-spot>
         </div>
      </div>

   </div>
</div>