<ion-header-bar align-title="center" class="">
   <button class="button button-icon icon ion-arrow-left-c flat" ng-click="chiffresCtrl.back()"></button>
   <h1 class="title title-center header-item">Chiffres</h1>

</ion-header-bar>
<div class="content has-header chiffres">
   <img src="img/{{image1}}" class="picture col-40" /><span class="operation col-20">+</span><img src="img/{{image1}}" class="picture col-40" />
   <div class="operation">=</div>
   <div class="res"><img src="img/{{image1}}" class="picture col-40" /><span class=" col-20">&nbsp;</span><img src="img/{{image1}}" class="picture col-40" />
   </div>
   <div class="arrow-right" ng-click="chiffresCtrl.next()"></div>
</div>