<div class="popup" ng-show="lettres2Ctrl.popup_active==true"><center><img src="../img/smilies.gif" class="pop" /></center></div>
<ion-header-bar align-title="center" class="">
   <button class="button button-icon icon ion-arrow-left-c flat" ng-click="lettres2Ctrl.back()"></button>
   <h1 class="title title-center header-item">Lettres ({{lettres2Ctrl.page}}/7)</h1>
</ion-header-bar>
<div class="content has-header lettres" ng-init="lettres2Ctrl.getAnimaux()">
   <div drag-and-drop class="drag-container" on-drag-enter="lettres2Ctrl.dragEnter(draggable,droppable)" on-item-placed="lettres2Ctrl.dragEnd(draggable,droppable)">

      <center>
         <drop-spot max-items="1" class="drop-spot" drop-id="reponse">
            <audio id="audio_lettre" ng-src="{{lettres2Ctrl.lettre_son}}" autostart="false" class=""></audio>
            <a data-ng-click="lettres2Ctrl.lettrePlay($event)" class="lettre">
                {{lettres2Ctrl.rand_lettres}}
            </a>
         </drop-spot>
         <div drag-item drag-enabled="true" class="drag-item {{lettres2Ctrl.dragIdArray[$index]}}" drag-id="{{lettres2Ctrl.dragIdArray[$index]}}" ng-repeat="lettres in lettres2Ctrl.pos_array track by $index" >
            <audio id="audio{{$index}}" ng-src="{{'sons/'+lettres2Ctrl.pos_array[$index].cri | trustAsResourceUrl}}" autostart="false" class=""></audio>
            <a data-ng-click="lettres2Ctrl.animauxPlay($event)" class="animaux_lettre"><img ng-src="img/{{lettres2Ctrl.pos_array[$index].nom}}.png">

            </a>
            </div>
      </div>
        
      
      </center>





   </div>
</div>
