/****************** Animaux *********************/
.animaux .drop_container {
    width: calc(50% - 4px);
    display: inline-block;
    text-align: center;
}
/*.animaux .drop_container:nth-child(3) { left: 0; }
.animaux .drop_container:nth-child(4) { right: 0; }*/
.animaux .drag-item{/* width: calc(50% - 4px);*/ display: inline-block; text-align: center;}
/*.animaux .drag-item:nth-child(1){margin-right:10%;}
.animaux .drag-item:nth-child(2){margin-left:10%;}*/
.animaux  .drop-spot{/*display: inline-block; width: calc(50% - 4px); height: 160px;*/display: block;
    width: 100%;
    height: 200px;}
/*.animaux div.sound_container .reverse{float:right;}*/
.drag-container{text-align: center}
/******************** Commun ********************/
.popup-buttons button.button{background: #c0ff70}
 div.drop-content div a i{font-size: 90px;}
.animaux img, .animaux2 img{   max-width: 100%;    max-height: 105px;    margin: 0 auto; }
.animaux .has-header,.animaux2 .has-header {   text-align: center;}
/*div.drag-item{     max-width: 200px;    max-height: 160px;    margin: 0 auto;    width: auto;}*/
/*.reverse-r{float: right;}
.reverse-l{float: left;}
*/
div.drop-content div a i.ion-checkmark-round{display: none; font-size: 90px; color:#0c3;}
/*div.drop-content.drop-full div a i.ion-checkmark-round{display: block;}
div.drop-content.drop-full div a i.ion-volume-medium{display: none;}*/
.drop-spot a.activated i{color: #3b247d}
/****************** Animaux 2 *********************/

.animaux2 .drag-item,.animaux2 .drop_container{ width: calc(33% - 4px); display: inline-block; }
.animaux2  .drop-spot{  display: block; }
.animaux2 .drop-content a{text-align: center; display: block;}
/*.animaux2  .drop-spot{display: inline-block; width: calc(33% - 4px);}*/

.drop-hovering .drop-content i {
        border:solid 1px  #0c3;
      }

/*.hide,
.animaux .drag-item.hide/*,
.drop-full,
.animaux  div.drop-content.drop-full*/
/*{display: none;}

/*.sound_container{


	position: absolute;
    left: 0;
    right: 0;
    top: 220px;
}
*/